<h1> Who's that Pokemon?  </h1>

<ul>
      <li>
        Name: <%= findOnePokemon.name %><br>
        Type: <%= findOnePokemon.type %><br>
        Power: <%= findOnePokemon.power %><br>
        TrainerID: <%= findOnePokemon.trainerID %><br>
        <br><br>
      </li>
</ul>
