<h1> Who's that Trainer?  </h1>

<ul>
      <li>
        Name: <%= findOneTrainer.name %><br>
        Type: <%= findOneTrainer.region %><br>
        Power: <%= findOneTrainer.Power %><br>
        <br><br>
      </li>
</ul>
